@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

.main-body {
  background: linear-gradient(-45deg, #ee7752, #020618, #0b171d, #8e289d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-title-typography {
  font-weight: 700;
  font-size: 4.875rem;
}

.ict-header {
  background: linear-gradient(101deg, #e76028 -1.06%, #b63518 52.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 77.26px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3.219px;
}

.meetup-header {
  background: var(
    --Primary-Gradient,
    linear-gradient(92deg, #2c84ec 0.11%, #0055d5 103.68%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 77.26px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.version-text {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: "Syncopate", sans-serif;

  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 76, 216, 1),
    rgba(93, 67, 253, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: #000;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .hero-title-typography {
    font-size: 3.875rem;
  }
  .ict-header {
    font-size: 50px;
  }
  .meetup-header {
    font-size: 50px;
  }

  .version-text {
    font-size: 40px;
  }
}
