@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/* vars */
:root {
 --accent-orange: #e76028;
 --accent-orange-gradient: linear-gradient(101deg, #e76028 -1.06%, #b63518 52.9%);
 --accent-blue: #2c84ec;
 --bg: #040c24;
 --input-label: #a2a2a2;
 --form-background: rgba(9, 13, 27, 0.5);
 --sub-header: #d6d6d6;
}
::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #040e2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: var(--accent-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* mixins */
.main-body {
 background: var(
  --bg,
  radial-gradient(132.21% 68.86% at 43.76% 52.23%, #040e2c 0.47%, #01050c 100%)
 );
 overflow-x: hidden;
}

.hero-title-typography {
 font-weight: 700;
 font-size: 4.875rem;
}

.ict-header {
 background: linear-gradient(101deg, #e76028 -1.06%, #b63518 52.9%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-feature-settings:
  'clig' off,
  'liga' off;
 font-size: 77.26px;
 font-style: normal;
 font-weight: 700;
 line-height: 100%;
 letter-spacing: 3.219px;
}

.navbar {
 background: rgba(4, 13, 42, 0.8);
 box-shadow: 0px 6px 32px 0px rgba(8, 38, 114, 0.4);
 backdrop-filter: blur(80px);
}
.meetup-header {
 background: var(--Primary-Gradient, linear-gradient(92deg, #2c84ec 0.11%, #0055d5 103.68%));
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-feature-settings:
  'clig' off,
  'liga' off;
 font-size: 77.26px;
 font-style: normal;
 font-weight: 700;
 line-height: 100%;
}

.version-text {
 font-size: 60px;
 font-weight: 700;
 position: relative;
 letter-spacing: 0px;
 text-transform: uppercase;
 font-family: 'Syncopate', sans-serif;

 background: -webkit-linear-gradient(-45deg, rgba(255, 76, 216, 1), rgba(93, 67, 253, 1));
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-stroke: 3px transparent;
 color: #000;
 white-space: nowrap;
}

.navbar-mobile {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 background-color: #0055d5;
 color: white;
}

.navbar-mobile-hidden {
 left: -100%;
}

.section-header-line {
 width: '234px';
}

@media (max-width: 768px) {
 .hero-title-typography {
  font-size: 3.875rem;
 }
 .ict-header {
  font-size: 50px;
 }
 .meetup-header {
  font-size: 50px;
 }

 .version-text {
  font-size: 40px;
 }
}

.Tab_Header {
 background: linear-gradient(92deg, rgba(44, 132, 236, 0.6) 0.11%, rgba(0, 85, 213, 0.6) 103.68%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: Syncopate;
 text-transform: uppercase;
}

.Tab_Header[aria-selected='true'],
.Tab_Header[data-selected] {
 background: white;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: Syncopate;
 text-transform: uppercase;
}

/* .team_wrap .swiper {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team_wrap .swiper-slide {
    text-align: center;
    font-size: 18px;
    height:270px;   
   
  }
   */

.team_wrap .swiper {
 width: 100%;
 height: 700px;
 margin-left: auto;
 margin-right: auto;
}

.team_wrap .swiper-slide {
 text-align: center;
 font-size: 10px;
 background: #6d6d6d;
 height: 300px !important;
 border-radius: 8px;
 /* Center slide text vertically */
}

.speciality {
 display: none;
}

.speaker_image_wrapper:hover {
 .speaker_name {
  background-color: white;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: black;
 }

 .speciality {
  display: block;
  color: black;
 }
}

.team_wrap .swiper-pagination-bullet {
 background: #8d8d8d !important;
}

.team_wrap .swiper-pagination-bullet .swiper-pagination-bullet-active {
 background: #ffffff !important;
}

image {
 border-radius: 16px;
 border: 4px solid #fff;

 background:
  linear-gradient(135deg, rgba(56, 137, 213, 0.2) 4.25%, rgba(36, 79, 233, 0.2) 100.05%),
  linear-gradient(0deg, rgba(6, 21, 50, 0.4) 11%, rgba(0, 0, 0, 0) 25.1%),
  url(<path-to-image>),
  lightgray -41.571px -59.707px / 116.628% 125.141% no-repeat;

 background-blend-mode: color, normal, normal;
}

.custom-input {
 background-color: var(--form-background);
 border-bottom: 1px solid #d9d9d9;
 width: 100%;
 padding: 20px;
 color: white;
 font-size: 20px;
}

.custom-input::placeholder {
 color: #a2a2a2;
 font-size: 20px;
}

.custom-input:focus {
 outline: none;
}

.error-input {
 border-bottom: 1px solid red;
}
